h1 {
  font-weight: 600;
  color: rgb(181, 188, 194);
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to right, #a06f0d, #22201f);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
  border-radius: 10px 30px 10px 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

h1:hover {
  transform: scale(1.1);
  font-weight: bold;
  border-radius: 30px 10px 30px 10px;
  color: rgb(174, 143, 96);
  background-image: linear-gradient(to right, #ffa17f, #00223e);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
}

/* h1 {
  background-image: linear-gradient(to right, #ae8f60, #00223e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 8rem;
  margin: 0;
  position: relative;
}

h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: 10%;
  left: 0;
  background-image: linear-gradient(to right, #4d4d4d, #1c1c1c);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: -1;
  animation: animate-gradient 2s linear infinite;
}

h1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 10%;
  left: 0;
  background-image: linear-gradient(to right, #1c1c1c, #4d4d4d);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  z-index: -1;
  animation: animate-gradient 2s linear infinite;
}

h1 span {
  position: relative;
  z-index: 1;
}

@keyframes animate-gradient {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} */
.Buttons {
  height: 50px;
  width: 200px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(181, 188, 194);
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to right, #a06f0d, #22201f);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
  border-radius: 25px; /* half of the height */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  position: relative;
  border: none;
  outline: none;
  text-align: center;
}

.Buttons:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 25px; /* half of the height */
  background-image: linear-gradient(to right, #a06f0d, #22201f);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
}

.Buttons:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Buttons:hover {
  transform: scale(1.1);
  font-weight: bold;
  border-radius: 80px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to right, #ffa17f, #00223e);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
}
.Project-content {
  background: url("../Images/IMG_7614 2.jpg");
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

ection {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.js {
  height: 15vmin;
  pointer-events: none;
}
.react {
  height: 15vmin;
  pointer-events: none;
  background-color: rgb(100, 212, 250);
  border-radius: 10px;
}

.html {
  height: 15vmin;
  pointer-events: none;
}

.css {
  height: 15vmin;
  pointer-events: none;
}

.java {
  height: 15vmin;
  pointer-events: none;
}

.node {
  height: 15vmin;
  pointer-events: none;
}

.visual {
  height: 15vmin;
  pointer-events: none;
  background-color: rgb(94, 28, 111);
  border-radius: 10px;
}

.python {
  height: 15vmin;
  pointer-events: none;
}
.git1 {
  height: 15vmin;
  pointer-events: none;
}

.github {
  height: 15vmin;
  pointer-events: none;
  background-color: blanchedalmond;
  border-radius: 6px;
}

.h1L {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.airEx {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 12px;
  padding: 1px;
  width: 600px;
  margin: 0 50px 0 0;
}
.airEx:hover {
  color: rgba(52, 52, 52);
  opacity: 0.5;
}
.chatApp {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 12px;
  padding: 1px;
  width: 300px;
  margin: 0 50px 0 0;
}
.chatApp:hover {
  color: rgba(52, 52, 52);
  opacity: 0.5;
}

.weather {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 12px;
  padding: 1px;
  width: 600px;
  margin: 0 50px 0 0;
}
