.project-page {
  align-items: center;
  background: url("https://wallpapers.com/images/featured/black-and-grey-iphone-nkfy6lrxwvt7gfh7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1.5vmin);
  justify-content: center;
  min-height: 90vh;

}

.project-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333; /* Dark text color */
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px; /* Spacing between carousel items */
}

.carousel-item {
  min-width: 250px; /* Width of each project in the carousel */
  border: 1px solid #ddd; /* Light border around each project */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* To ensure image and label stay within boundaries */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.carousel-item:hover {
  transform: scale(1.05); /* Slightly enlarge the project on hover */
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.project-label {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: #fff; /* White text */
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.carousel-item iframe {
  width: 100%; 
  height: 100%; 
  border: none;
}
