/* Use a custom font */
body {
  font-family: "Open Sans", sans-serif;
}

/* Use whitespace to improve readability */
.Bio-content {
  background: url("https://images.unsplash.com/photo-1660914256311-918659fae88f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);

  overflow: hidden; /* Add this line to hide any content that extends beyond the element */
}

.bioParagraph {
  font-weight: 600;
  color: rgb(181, 188, 194);
  transition: all 0.3s ease-in-out;

  background-size: 200% auto;
  animation: Gradient s ease infinite;
  border-radius: 10px 30px 10px 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin: 0;
  font-family: Comic Sans MS, cursive;
  margin-bottom: 20px; /* Add space between paragraphs */

}
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.bottomOfPage.show {
  display: block; /* Add this selector to show the bar when the user scrolls down */
}
.resumeButton {
  display: inline-block;
  padding: 12px 24px;
  font-family: Comic Sans MS, cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #090101, #2a2a2a); /* Gradient background */
  color: #fff;
  border-radius: 50px; /* Fully rounded edges */
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
}

.resumeButton:hover {
  transform: scale(1.05); /* Slight scale on hover */
  background-color: #2186c4;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.resumeButton:active {
  transform: scale(0.98); /* Slight scale inwards on active click */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Reduced shadow on active click */
}
.bioTitle{
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: glowEffect 2s ease-in-out infinite alternate;
}
@keyframes glowEffect {
  from {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  to {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  }
}