/* Use a custom font */
body {
  font-family: "Open Sans", sans-serif;
}

/* Use whitespace to improve readability */
.Bio-content {
  background: url("../Images/IMG_7614 2.jpg");
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);

  overflow: hidden; /* Add this line to hide any content that extends beyond the element */
}

.bioParagraph {
  font-weight: 600;
  color: rgb(181, 188, 194);
  transition: all 0.3s ease-in-out;

  background-size: 200% auto;
  animation: Gradient s ease infinite;
  border-radius: 10px 30px 10px 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin: 0;
  font-family: Comic Sans MS, cursive;
}
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.bottomOfPage.show {
  display: block; /* Add this selector to show the bar when the user scrolls down */
}
.resumeButton {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #090101;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resumeButton:hover {
  transform: scale(1.1);
  background-color: #2186c4;
  animation: Gradient 3s ease infinite;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.bioTitle{
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: glowEffect 2s ease-in-out infinite alternate;
}
@keyframes glowEffect {
  from {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  to {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  }
}