:root {
  --primary-color: #c2b280;
  --secondary-color: #deddd9;
  --background-color: #e5d8b0;
}

/* Use a custom font */
body {
  font-family: "Open Sans", sans-serif;
}

/* Use whitespace to improve readability */
.Bio-content {
  background: url("../Images/IMG_7614 2.jpg");
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);

  overflow: hidden; /* Add this line to hide any content that extends beyond the element */
}

h2 {
  color: var(--primary-color);
}

p {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: var(--background-color);
  border-radius: 30px;
  opacity: 0.9;

  padding: 20px;
  max-width: 800px; /* Increase the max-width to make the paragraphs wider */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(173, 148, 5, 0.2);
}

.Front-pic {
  height: 50vmin;
  pointer-events: none;
  border-radius: 45px;
}

.RButton {
  height: 70px; /* Increase the height to make the button bigger */
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to right, #d8c3a5, #e5d8b0);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
  border-radius: 35px; /* Half of the height */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  position: relative;
  border: none;
  outline: none;
  text-align: center;
}

.RButton:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #bfa577, #c2b280);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
}

.RButton:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.RButton:hover {
  transform: scale(1.1);
  font-weight: bold;
  border-radius: 80px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to right, #e4a854, #c2560d);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
}

.paragraph {
  background-color: var(--background-color);
  text-align: center;
  font-weight: bold;
  align-content: center;
  border-radius: 30px;
}
