

.Main-content {
  background: url("../Images/IMG_7614 2.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.twit {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

/* Style the Twitter widget iframe */
.twit iframe {
  border: none; /* Remove the default border */
  width: 100%; /* Make the widget responsive */
}

@media (max-width: 767px) {
  .twit {
    width: 100%;
  }
  .twit .timeline-Header {
    display: none;
  }
}

.twit .twitter-timeline {
  padding: 10px;
  width: 100%;
}

.twit .twitter-tweet {
  font-size: 16px; /* Change to your desired font size */
  color: #333; /* Change to your desired color */
}
