html {
  scroll-behavior: smooth;
}

section {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contactPage {
  background: url("../Images/IMG_7614 2.jpg");
  min-height: 100vh;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h3 {
  color: rgb(252, 252, 252);
}

/* .Email-pic{
    position: relative;
    top: -10px;
  } */
.mailto {
  background: url("../Images/58485698e0bb315b0f7675a8.png");
  position: relative;
  top: -10px;
  display: block;
  width: 380px;
  height: 100px;
  display: block;
  height: 250px;
  font-size: 30px;
  color: #1b1b1b;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  opacity: 0.5;
  transition-duration: 0.4s;
  outline: none;
  padding: 10px;
  font-weight: bold;
  text-align: center;

  color: rgb(240, 236, 236);
}

.mailto:hover {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #4d4d4d;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

h3 {
  font-weight: 600;
  color: rgb(181, 188, 194);
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to right, #a06f0d, #22201f);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
  border-radius: 10px 30px 10px 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

h3:hover {
  transform: scale(1.1);
  font-weight: bold;
  border-radius: 30px 10px 30px 10px;
  color: rgb(174, 143, 96);
  background-image: linear-gradient(to right, #ffa17f, #00223e);
  background-size: 200% auto;
  animation: Gradient 3s ease infinite;
}
